<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>7bee-098c-4a58-abb1</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Logo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UIColorName</key>
		<string>BackgroundPrimaryColor</string>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Please allow to use camera to continue</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lufga-Regular.ttf</string>
		<string>Lufga-Medium.ttf</string>
		<string>Lufga-SemiBold.ttf</string>
		<string>Lufga-Bold.ttf</string>
	</array>
</dict>
</plist>
